<template name="Home">
    <div class="jumbotron">
  <h1>JUMBOTRON!</h1>
  <p>...tron....tron.....tron</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">press for more echo</a></p>
</div>
</template>